<nz-layout class="app-layout">
  <nz-sider
    class="sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <app-sidebar
      [isCollapsed]="isCollapsed"
    >
    </app-sidebar>
  </nz-sider>

  <nz-layout>
    <nz-header class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
    </nz-header>

    <nz-content>
      <app-content></app-content>
    </nz-content>
  </nz-layout>
</nz-layout>
