<nz-layout class="app-layout">
  <nz-sider
    nzCollapsible
    class="sidebar"
    nzBreakpoint="md"
    [nzWidth]="isCollapsed ? 80 : 256"
    [nzCollapsed]="isCollapsed"
    [nzTrigger]="null"
  >
    <app-sidebar-component
      [userId]="userId"
      [isCollapsed]="isCollapsed">
    </app-sidebar-component>
  </nz-sider>

  <nz-layout>
    <nz-header class="app-header">
      <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <span class="trigger-icon" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
      </span>
    </nz-header>

    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
