.sidebar-logo {
  position: relative;
  height: 70px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  box-shadow: 0 2px 6px rgba(0,21,41,.25);
}

.sidebar-logo img {
  display: inline-block;
  vertical-align: middle;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  border: none;
  font-size: 1.1em;
}

.menu-title:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.075);
}

.menu-title {
  transition: background 0.3s ease;
}

.menu-title:hover {
  background: linear-gradient(90deg, #cf4242 0%, #96283e 100%);
}

.submenu-item a:hover {
  font-weight: bold;
}
