<div class="sidebar-logo">
  <a href="/">
    <img *ngIf="isCollapsed" width="32" src="../assets/img/logos/m-branco.png" alt="logo">
    <img *ngIf="!isCollapsed" width="70px" height="34" src="../assets/img/logos/meta-branco.png" alt="logo">
  </a>
</div>

<ul class="sidebar-menu" nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
  <app-user-description></app-user-description>

  <li nz-menu-item class="menu-title">
    <span nz-icon nzType="home" nzTheme="fill"></span>
    <span>Inicio</span>
  </li>

  <li nz-menu-item class="menu-title">
    <span nz-icon nzType="file-text" nzTheme="fill"></span>
    <span>Simulados</span>
  </li>

  <li nz-menu-item class="menu-title">
    <span nz-icon nzType="fund" nzTheme="fill"></span>
    <span>Desempenho</span>
  </li>

  <li nz-menu-item class="menu-title">
    <span nz-icon nzType="trophy" nzTheme="fill"></span>
    <span>Concorrência</span>
  </li>

  <li nz-submenu class="menu-title" nzTitle="Conta" nzIcon="setting-fill">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a>Editar perfil</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Plano</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Sobre</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a>Sair</a>
      </li>
    </ul>
  </li>

  <li nz-menu-item class="menu-title">
    <span nz-icon nzType="question-circle" nzTheme="fill"></span>
    <span>Suporte</span>
  </li>
</ul>
